<form [formGroup]="shoeForm" (ngSubmit)="onSubmit()">
  <!-- Colour Field -->
  <div class="form-group">
    <label for="colour">Colour</label>
    <input appFocusHighlight type="text" id="colour" formControlName="colour"/>
  </div>

  <!-- Size Field -->
  <div class="form-group">
    <label for="size">Size</label>
    <input appFocusHighlight ="number" id="size" formControlName="size"/>
  </div>

  <!-- Brand Field -->
  <div class="form-group">
    <label for="brand">Brand</label>
    <input appFocusHighlight ="text" id="brand" formControlName="brand"/>
  </div>

  <!-- Price Field -->
  <div class="form-group">
    <label for="price">Price</label>
    <input appFocusHighlight ="number" id="price" formControlName="price"/>
  </div>

  <!-- Used/Unused Field -->
  <label for="isUsed">Used:</label>
  <select id="isUsed" name="isUsed" size="2" formControlName="isUsed">
    <option value="true" >True</option>
    <option value="false">False</option>
  </select>

  <br>

  <!-- Submit Button (Add or Update) -->
  <button type="submit" (click)="onSubmit()">Save</button>

  <button (click)="navigateToShoeList()">Back to List</button>

  <button style='float:left' (click)="delete(id)"> Delete Shoe</button>
</form>
