<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shoe List</title>
</head>
<body>

  <div [ngStyle]="{'background-color' : background}">
    <h2>{{shoeListItem?.brand}}</h2>
    <img src="../Images/{{shoeListItem?.brand}}.jpg" alt="{{shoeListItem?.brand}} image" width="500" height="300">

  </div>

</body>
</html>

<style>
  div{
    border: 2px burlywood solid;
    text-align: center;
  }
</style>





