<body>
  <h1>{{title}}</h1>

  <div class ="nav-bar">
    <mat-nav-list>
      <nav>
        <mat-list-item [routerLink]="['/shoe']" routerLinkActive="active">Shoe List</mat-list-item>

        <br>

        <mat-list-item [routerLink]="['/modify-shoe']" routerLinkActive="active">Modify Shoe</mat-list-item>
      </nav>
    </mat-nav-list>
  </div>

  <div *ngIf="router.url === '/shoe'" class="chosenShoe"><app-shoe-list-item [shoeListItem]="selectedShoe"></app-shoe-list-item></div>
  <div  *ngIf="router.url === '/shoe'" class="app-container"><app-shoe-list></app-shoe-list></div>

</body>
<router-outlet></router-outlet>
